#head {
  
  background: url("https://i.postimg.cc/ZKvsqyrH/Corona.png") no-repeat center center;
  background-size: contain;
  height: 60px;
  width: 60px;
  background-position: 40%;
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
  background-image: url("https://66.media.tumblr.com/21e57bd118f4ce88171bbbf168f16d0f/tumblr_q73r5arxXE1s5hgjvo1_1280.jpg");
  background-size: 700px 700px;
  background-position: center;
}

#apple {
  height: 60px;
  width: 60px;
  position: absolute;
  background-size: auto;
}

#snake-body {
  background: url("https://i.postimg.cc/ZKvsqyrH/Corona.png") no-repeat center center;
  height: 60px;
  width: 60px;
  background-size: contain;
  background-position: 40%;
  position: absolute;
}
