#head {
  background: url("./assets/corona.png") no-repeat center center;
  background-size: contain;
  height: 60px;
  width: 60px;
  background-position: 40%;
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
  background-image: url("./assets/background.jpeg");
  background-size: 700px 700px;
  background-position: center;
}

#apple {
  height: 60px;
  width: 60px;
  position: absolute;
  background-size: auto;
}

#snake-body {
  background: url("./assets/corona.png") no-repeat center center;
  height: 60px;
  width: 60px;
  background-size: contain;
  background-position: 40%;
  position: absolute;
}

#b1 {
  background: hsl(0, 50%, 50%);
}
#b2 {
  background: hsl(30, 50%, 50%);
}
#b3 {
  background: url("./assets/nuclear-war.jpg");
  background-size: contain;
}
#b4 {
  background: hsl(90, 50%, 50%);
}
#b5 {
  background: hsl(120, 50%, 50%);
}
#b6 {
  background: url("./assets/this-land.jpg");
  background-size: cover;
}
#b7 {
  background: hsl(150, 50%, 50%);
}
#b8 {
  background: hsl(180, 50%, 50%);
}
#b9 {
  background: url("./assets/shopping.jpg");
  background-size: contain;
}
#b10 {
  background: hsl(210, 50%, 50%);
}
#b11 {
  background: hsl(240, 50%, 50%);
}
#b12 {
  background: url("./assets/psychedelic.jpg");
}
#b13 {
  background: hsl(270, 50%, 50%);
}
